*.mode*
build/
obj/
*.o
*.app/

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*

.svn/
obj/
bin/example.app
bin/exampleDebug.app
!data/
example/
example/src/
example_Feedback_tGrabber/
example_Feedback_tGrabber/src